
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
}
img {
  display: flex;
 }
.header {
  background: rgb(34, 34, 34);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__div1 {
  padding: 18px;
  display: flex;
justify-items: last baseline;
  gap: 41px;
}

.header__nav__div2 {
  padding: 26px;
  display: flex;
  gap: 33px;
}
.back_ground_section {
  background: rgb(241, 228, 230);
}
a, h1, h2, p, button{
  font-family: Lato;
}
.containarMain {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.main__rightSide {

  max-width: 799.42px;
  height: 764px;

}
.main__rightSide h1 {
   font-size: 48px;
  line-height: 1px;
  letter-spacing: 0%;
 align-items: center;
  margin-bottom: 40px;
  justify-content: flex-end;
}
.main__rightSide h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1px;
  letter-spacing: 0%;
  text-align: left;
}
.mainContent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 1fr);
margin-bottom: 65px;
}
.card {
display: flex;
flex-direction: column;
align-items: baseline;
}
.card2 {
justify-content: center;
}
.card1 {
justify-content: end;
}
.colored-side {
  position: relative;
  padding: 28px;

}
.colored-side:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 12px;
  background-color: rgb(241, 109, 127);;
}
.fotoGelery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.foto {
  display: block;
  width: 100%;
  height: auto;
}
.ton {
  position: relative;
  display: inline-block;
}
.ton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.foto-big {
  grid-column: span 3;
  grid-row: span 1,5;
}
.ton-big {
  position: relative;
  display: inline-block;
}
.ton-big::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69%;
  background-color: rgba(33, 22, 22, 0.70);
}
.containerForText {
  position: relative;
  text-align: center;
  color: aliceblue;
}
.text {
  position: absolute;
  left: 30%;
  transform: (-20%, -50%);
  top: 50%;
  left: 30%;
  transform: (-50%, -50%);
}
.textBig {
  position: absolute;
  left: 50%;
  transform: (-50%, -50%);
  top: 25%;
  left: 40%;
  transform: (-50%, -50%);
}
.FeturedItems {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 47px;
}
.FeturedItems h1 {
  color: rgb(34, 34, 34);
font-family: Lato;
font-size: 30px;
font-weight: 400;
line-height: 36px;
}
.FeturedItems p {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}
.cardItem {
  background: rgb(248, 248, 248);
}
.cardItem div {
  padding: 17px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.cardItem div h3 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}
.cardItem div p {
  color: rgb(93, 93, 93);
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 17px;
}
.price {
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
}
button {
  padding: 14px 38px 14px 38px;
  border: 1px solid rgb(255, 106, 106);
  color: rgb(242, 99, 118);
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: left;
cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 60.5px;
}
.footer {
  padding: 104px 200px 104px 200px;
  background: rgb(34, 34, 36);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  margin-bottom: 48px;
}
.footer h2 {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.footer p {
  color: rgb(251, 251, 251);
  width: 360px;
  height: 34px;
  font-size: 13.97px;
  font-weight: 300;
}
.footer_card {
width: 360px;
height: 134px;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
text-align: center;
}