
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
}
img {
display: block;
 max-width: 100%;
 }
.header {
  background: rgb(34, 34, 34);
  max-height: 75px;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav__div1 {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}

.header__nav__div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}

a, h1, h2, p, button{
  font-family: Lato;
}
.korzina {
  position: relative;
}
.korzina::before {
  content: url(./img/krug.svg);
  position: absolute;
   top: 11px;
  right: -2px;
  
}
.korzina::after {
  content: "5";
  position: absolute;
  color: #E1E1E1;
   top: 11px;
 left: 36px;
  z-index: 1;
}
.containerMain {
  max-width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.main {
background: rgb(241, 228, 230);
margin-bottom: 65px;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
   margin: 0;
  background-color:  #FFF;
padding: 32px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
 gap: 8px;
 box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  display: block;
}
.dropdown:hover .dropbtn {
background-color: #F16D7F;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sendvich {
  padding: 20px 8px 8px 8px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.mainMenuCard h1 {
  color: #000;

font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.mainMenuCard h2 {
text-align: left;
color: #F16D7F;

font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mainMenuCard a {
  color: #6F6E6E;

font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mainMenuModul {
padding: 20px 30px 20px 20px;
display: flex;
  flex-direction: column;
gap: 10px;
}


.mainContent {
  
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  
}
.mainContent img {
    width: 50%;
}

.mainContent h1 {
  font-weight: 900;
  font-size: 48px;
}
.mainContent h2 {
  font-weight: 700px;
  font-size: 32px;
}


.colored-side {
  position: relative;
  padding: 28px;

}
.colored-side:before {
  content: "";
  position: absolute;
  top: 25;
  left: 0;
  
  height: 70%;
  width: 12px;
  background-color: rgb(241, 109, 127);;
}
.fotoGelery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.foto {
  display: block;
  width: 100%;
  height: auto;
}
.ton {
  position: relative;
  display: inline-block;
}
.ton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.foto-big {
  grid-column: span 3;
  grid-row: span 1,74;
}
.ton-big {
  position: relative;
  display: inline-block;
}
.ton-big::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69%;
  background-color: rgba(33, 22, 22, 0.70);
}
.containerForText {

  text-align: center;
  color: aliceblue;

}
.text {
  position: absolute;
  left: 30%;
  transform: (-20%, -50%);
  top: 50%;
  left: 30%;
  transform: (-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textBig {
  position: absolute;
  left: 50%;
  transform: (-50%, -50%);
  top: 25%;
  left: 40%;
  transform: (-50%, -50%);
}
.FeturedItems {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 47px;
}
.FeturedItems h1 {
  color: rgb(34, 34, 34);
font-family: Lato;
font-size: 30px;
font-weight: 400;
line-height: 36px;
}
.FeturedItems p {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}
.cardItem {
  background: rgb(248, 248, 248);
}
.cardItem div {
  padding: 17px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}
.cardItem div h3 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
}
.cardItem div p {
  color: rgb(93, 93, 93);
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 17px;
}
.price {
  font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
}
button {
  padding: 14px 38px 14px 38px;
  border: 1px solid rgb(255, 106, 106);
  color: rgb(242, 99, 118);
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: left;
cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 60.5px;
  transition: all 0.3s;
}
button:hover {
	background: #F16D7F;
	color:#FFFFFF;
	box-shadow: inset 0 0 0 3px #FF6A6A;
  
}
/* Настройки маркированного списка */
.hover-effect-cover {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}
.hover-effect-cover li {
    position: relative;
    width: 100%; /* Задаем ширину элемента списка с картинкой*/
    display: inline-block;
    background-color: #fff;
    margin: 0;
    border: none;
    overflow: hidden;
}

.hover-effect-cover li button {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
      padding: 15px;
   background-color: rgba(0, 0, 0, 0);
   border-color: #FBFBFB;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

/* Выезжающий блок с текстом для панели слева направо */
.hover-effect-cover li > div.effect-to-right {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
 justify-content: center;
    flex-direction: column;
}
.hover-effect-cover li:hover > div.effect-to-right {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hover-effect-cover li div.effect-to-right {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(-250px, 0px) rotate(0deg); /* Направление выезжающей панели */
}
.hover-effect-cover li:hover div.effect-to-right {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}

.footer {
 background: rgb(34, 34, 36);
 min-height: 341px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.footerList {
  padding: 30px;
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
 
}
.footerList h2 {
  color: rgb(251, 251, 251);
  font-family: Lato;
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
}
.footerList p {
  color: rgb(251, 251, 251);
  width: 360px;
  height: 34px;
  font-size: 13.97px;
  font-weight: 300;
}
.footer_card {
padding: 30px;
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
text-align: center;
}
.basement {

  display: flex;
  justify-content: center;
  background-color: #F8F8F8
 
}
  .surfer {
width: 100vw;
height: 20vw;
object-fit: cover;
object-position: bottom;
  }

.basement-ton {
  position: relative;
  display: inline-block;
}
.basement-ton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.70);
}
.basement-content {
  position: absolute;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
gap: 20px;
}
.basementCard1 {
  padding: 97px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.basementCard1 p{
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.basementCard2 {
   padding: 150px 38px 140px 38px;
  max-width: 557px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.emailBox {
position: relative;
right: 20px;

}
.basementButton {
  position: absolute;
 right: 70px;
  z-index: 1;
}
.basementCard2Title {
  text-align: center;
} 
.basementCard2Title h1{

font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 167.2%;
}
.basementCard2Title h2{
  font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 167.2%;
}
.emailBox {
border: none;
width: 322.59px;
height: 49px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
background-color: #E1E1E1;

}
.basementButton {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.socialMedia {
  padding: 24px;
  background: rgb(34, 34, 34);

}
.socialMediaContent {
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialMediaContent h4{
color: #FBFBFB;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.socialMediaContentButton {
padding: 10px 10px 10px 10px;

}
svg:hover {
  fill:#E1E1E1;
}


@media(min-width: 768px) and (max-width: 1600px) {
  .containerMain {
    max-width: 768px;
    }
  .container {
    max-width: 734.58px;
  }
  .card {
    width: 386px;
    height: 368px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
  }
  .mainMenu {
    display: none;
  }

  .main h1 {
    color: #222;

font-family: Lato;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }
  .main h2 {
    color: #222;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .text {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .text h2 {

text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .text h1 {

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .textBig h2 {

text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .textBig h1 {

font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .FeturedItems h1 {
    color: #222;

font-family: Lato;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .text {
    left: 20%;
    right: 20%;
    transform: (-30%, -50%);
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .textBig {
    position: absolute;
    left: 50%;
    transform: (-50%, -50%);
    top: 20%;
    left: 30%;
    right: 30%;
    transform: (-50%, -50%);
  }
  .ton-big::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background-color: rgba(33, 22, 22, 0.70);
  }
   .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
  }
  .footer {
background: rgb(34, 34, 36);
  }
  .footerList {
 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
 
  }
  .basement-ton {
   
max-width: 100%;
max-height: 100%;
object-fit: cover;
  
  }
    .surfer {

width: auto;
height: 550px;
object-fit: cover;
object-position: bottom;
  }
.basement-content {
 
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);

}
.basementCard1 {
 padding: 60px 20px 30px 10px;
  max-width: 360px;
   gap: 10px;
  
}

.basementCard2 {
padding: 10px 20px 30px 10px;
  max-width: 557px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.emailBox {
border: none;
width: 200px;
height: 39px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
background-color: #E1E1E1;

}
.basementButton {
padding: 9px;
}
}

@media (max-width: 767px) {
  .containerMain {
    max-width: 375px;
    margin: 0 auto;
  }
  .container {
    max-width: 343px;
    margin: 0 auto;
  }
  .mainContent img {
    display: none;
  }
  .mainContent {
  padding: 146px;
  }
  .mainContent h1 {
    font-size: 38px;
    font-weight: 900;
  }
  .mainContent h2 {
  font-size: 20px;
  font-weight: 700;

  }
 
  .man {
    display: none;
  }
  .korzina {
    display: none;
  }
  .mainMenu {
    display: none;
  }
  .fotoGelery {
    display: flex;
  flex-direction: column;
  align-items: center;
    gap: 32px;
    margin-bottom: 30px;
  }
  .ton-big::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70);
  }
  .cardList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    margin-bottom: 48px;
  }
  .foto-big {
    width: 343.262px;
height: 111px;
  }
  .foto-big img {
    width: 343.262px;
height: 111px;
object-fit: cover;
  }
  .containerForText {
   
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .containerForText h2 {
font-size: 16px;
font-weight: 400;
  }
  .containerForText h1 {
  font-size: 24px;
  font-weight: 700;
  }
  .text {
  position: absolute;
  left: 20%;
  transform: (-20%, -50%);
  top: 45%;
  right: 20%;
  transform: (-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .textBig {
    position: absolute;
    transform: (-50%, -50%);
    top: 30%;
    left: 20%;
    right: 20%;
    transform: (-50%, -50%);
  }
  .footerList {
    display: flex;
    flex-direction: column;
    align-items: center;
      gap: 32px;
}
    .surfer {

width: auto;
height: 550px;
object-fit: cover;
object-position: bottom;
  }
.basement-content {
  position: absolute;
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
gap: 150px;
}
.basementCard1 {
  padding: 20px;
  max-width: 360px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basementCard2 {
   padding: 10px 8px 10px 8px;
  max-width: 357px;
  max-height: 100px;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  margin-bottom: 10px;
}

.emailBox {

border: none;
width: 200px;
height: 39px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
background-color: #E1E1E1;

}
.basementButton {
padding: 9px;
}
.socialMediaContent {
    display: flex;
  align-items: center;
flex-direction: column-reverse;
gap: 20px;
}
}